/* -------------------------------------- */
/* base 
/* -------------------------------------- */
:root {
	--main-color: #171717;
	--sub-color: #fff;
	--header-bg-color: #282F35;
	--section-title-color: #282F35;
	--link-btn-bg-color: #F7D43F;
	--link-btn-shadow-color: #1b1310;
	--service-bg-color: rgba(40, 47, 53, .7);
	--footer-color: #282F35;
	--checked-color: #333;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	letter-spacing: .05em;
	color: var(--main-color);
	font-family: "Noto Serif", "Noto Serif JP", serif;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
	vertical-align: bottom;
}

.section-wrapper {
	padding: 100px 0 70px;
}

.section-title {
	max-width: 1000px;
	color: var(--section-title-color);
	font-size: 6rem;
	font-weight: 700;
	font-style: italic;
	margin: 0 auto 80px;
	padding: 0 20px;
}

.section-title::after {
	content: "";
	display: inline-block;
	background-color: var(--section-title-color);
	width: 200px;
	height: 5px;
	margin-left: 30px;
	vertical-align: middle;
	/* inline-blockの要素を縦方向に揃えるときに使用 */
}

.section-inner {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 50px;
}

.section-bot {
	max-width: 1200px;
	margin: 0 auto;
	color: var(--section-bottom-color);
	font-size: 9rem;
	opacity: 0.05;
}

.submit-btn {
	display: block;
	width: 235px;
	line-height: 60px;
	margin: 0 auto;
	background-color: var(--link-btn-bg-color);
	/* box-shadow: 0 0 6px var(--link-btn-shadow-color); */
	border-radius: 30px;
	text-align: center;
	border: none;

	font-weight: bold;
	color: var(--main-color);
	transition: .3s;
}

.submit-btn:hover {
	opacity: .7;
	transition: .3s;
	cursor: pointer;
}

/* -------------------------------------- */
/* header 
/* -------------------------------------- */
.header {
	padding: 19px 30px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
}

.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
}

.header a {
	color: var(--sub-color);
	font-weight: bold;
	font-style: italic;
	transition: .3s;
}

.header a:hover {
	opacity: .7;
	transition: .3s;
}

.site-title {
	font-size: 2.6rem;
}

.nav-list {
	display: flex;
	gap: 30px;
}

.burger-btn {
	display: none;
}

.header.fixed {
	position: fixed;
	background-color: var(--header-bg-color);
	padding: 30px;
	width: 100%;
	transition: .3s;
}

/* -------------------------------------- */
/* page-title
/* -------------------------------------- */
.page-title-wrapper {
	height: 453px;
	background-image: url(../img/contact-bgi@2x.jpg);
	background-size: cover;
	background-position: center;
}

.page-title {
	font-size: 6rem;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	padding-top: 186px;
	color: var(--sub-color);
}

.page-title-bot {
	font-size: 9rem;
	color: var(--sub-color);
	opacity: .1;
	margin: 20px 0 0 48px;
}

/* -------------------------------------- */
/* form
/* -------------------------------------- */
.form-wrapper {
	padding: 100px 0 80px;
}

.form-list {
	max-width: 700px;
	margin: 0 auto 80px;
	padding: 0 50px;
}

.form-item {
	margin-bottom: 25px;
}

.form-item:last-child {
	margin-bottom: 0;
}

.form-label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.checkbox-list {
	display: flex;
	gap: 20px;
}

.checkbox label,
.checkbox {
	cursor: pointer;
}

.checkbox {
	border: 1px solid var(--footer-color);
	height: 10px;
	width: 10px;
	margin-right: 10px;
}

.checkbox:checked {
	background-color: var(--checked-color);
}

input,
textarea {
	resize: none;
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	border: 1px solid #141414;
	width: 100%;
	border-radius: 2px;
}

.input-text {
	padding: 0 8px;
	line-height: 30px;
}

textarea {
	height: 170px;
	padding: 0 8px;
	line-height: 30px;
}

/* -------------------------------------- */
/* footer
/* -------------------------------------- */
.footer {
	padding: 0 0 30px;
	text-align: center;
	font-size: 1.4rem;
	font-weight: bold;
	color: var(--footer-color);
}